.slider {
    width: 90%;
    height: 2px;
    background-color: rgb(199, 194, 194);
}

.slider .thumb {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: rgb(71, 73, 71);
    border-radius: 50%;
    border: 2px solid rgb(236, 236, 236);
    top: -10px;
    outline: none;
}

.track-1 {
    background-color: chartreuse;
}