@tailwind base;
@tailwind components;
@tailwind utilities;

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 4px;
}

.popup-content h2 {
	margin-top: 0;
}

.radio_radio::after {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	background: #4ade80;
	border-radius: 50%;
	transform: scale(0);
	transition: transform 0.15s;
}

.radio_radio {
	width: 1.5em;
	height: 1.5em;
	border: 2px solid #4ade80;
	border-radius: 50%;
	margin-right: 10px;
	box-sizing: border-box;
	padding: 3px;
}

.radio_input:checked + .radio_radio::after {
	transform: scale(1);
}

.required-field:required {
	border-color: red;
}

.navtext .active {
	color: black;
	font: bold;
}

.navtext {
	color: rgb(207, 205, 205) 1f1;
}
